      <div class="row">
        <% items.each do |item| %>
            <div class="col-xs-6 col-md-3">
              <a href="/items/<%= item.id %>">
              <%= image_tag item.image, alt:item.name, :class => "img-responsive", :vspace => "10px" %>
              </a>
                <%= render partial: "/likes/like", locals: {item: item} %>
            </div>
        <% end %>
      </div>
      <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= paginate(@items) %>
      </div>
      </div>